body {
  height: 100vh;
  background-color: pink;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
}
button {
  border: 2px solid rgb(246, 126, 146);
  border-radius: 100px;
}
.inpput {
  width: 400px;
  height: 400px;
  background-color: rgb(227, 105, 125);
}
.main {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: repeat(4, 75px);
  gap: 20px;
  background-color: rgb(250, 128, 148);
}
.hi {
  font-size: 40px;
}
